/app.log
/ManuOptimizer.git/refs
/ManuOptimizer-backend/dist
__temp_pipreqsnb_folder/_pipreqsnb_temp_file.py
ManuOptimizer-backend/instances/eve_optimizer.db
.vscode/settings.json
ManuOptimizer-backend/instances/eve_optimizer.db
ManuOptimizer-backend/migrations/__pycache__/env.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/7b28adb1d3a0_add_runs_per_copy_to_all_blueprints.py
ManuOptimizer-backend/migrations/versions/cf143cccc8e8_removed_runs_per_copy_added_amt_per_run_.py
ManuOptimizer-backend/migrations/versions/__pycache__/5b7de2b5e975_added_fallback_check_to_blueprints.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/__pycache__/7b28adb1d3a0_add_runs_per_copy_to_all_blueprints.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/__pycache__/7e4454ee0edf_defaulting_use_jita_sell_to_true.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/__pycache__/8cd1d3a97648_added_relationship_between_station_ids.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/__pycache__/234b9dc146dc_add_type_id_column_to_blueprint.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/__pycache__/5290191a5dda_add_type_id_and_category_to_materials.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/__pycache__/6383438eb4b2_removed_runs_per_copy_added_amt_per_run_.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/__pycache__/530471008cb9_defaulting_region_id_to_jitas.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/__pycache__/c51a081ad3f9_added_back_region_id_to_bp_and_removed_.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/__pycache__/cd1d8a30b7e2_removed_region_id_from_bp_added_use_.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/__pycache__/cf143cccc8e8_removed_runs_per_copy_added_amt_per_run_.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/__pycache__/dcdd956fc694_re_add_type_cuz_i_removed_it.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/__pycache__/e93f8b66f0fc_add_type_id_column_to_materials.cpython-313.pyc
ManuOptimizer-backend/migrations/versions/__pycache__/fe9440f27c05_add_type_id_to_blueprints_and_sell_.cpython-313.pyc
